<%- include("partials/header") -%>



    <div class="introPara text">
        <h1>
            <%= posttitle %>
        </h1>
        <br>
        <img src="<%= postlink %>" alt="">
       
        <p>
            <%= postcontent %>
        </p>
<a href="<%= postYoutube %>">Click Here For YouTube Video</a>
<br>
    </div>

    <hr>
    <div class="para1 bold paraimg text">
        <!-- para-1  -->
        <h3>
            <%= para1Title %>
        </h3>
        <img src="<%= para1Img %>" alt="">
        <p>
            <%= para1Content %>
        </p>

    </div>
    <hr>
    <div class="paraFlex">
        <div class="para2 bold paraimg text flexItem">
            <!-- para-2 -->
            <h3>
                <%= para2Title %>
            </h3>
            <img src="<%= para2Img %>" alt="">
            <p>
                <%= para2Content %>
            </p>

        </div>

        <div class="para3 bold paraimg text flexItem">
            <!-- para-3 -->
            <h3>
                <%= para3Title %>
            </h3>
            <img src="<%= para3Img %>" alt="">
            <p>
                <%= para3Content %>
            </p>

        </div>
    </div>
    <hr>
    <div class="para4 bold paraimg text">
        <!-- para-4 -->
        <h3>
            <%= para4Title %>
        </h3>
        <img src="<%= para4Img %>" alt="">
        <p>
            <%= para4Content %>
        </p>

    </div>
    <hr>
    <div class="paraFlex">
        <div class="para5 bold paraimg text flexItem">
            <!-- para-5 -->
            <h3>
                <%= para5Title %>
            </h3>
            <img src="<%= para5Img %>" alt="">
            <p>
                <%= para5Content %>
            </p>

        </div>

        <div class="para6 bold paraimg text flexItem">
            <!-- para-6 -->
            <h3>
                <%= para6Title %>
            </h3>
            <img src="<%= para6Img %>" alt="">
            <p>
                <%= para6Content %>
            </p>

        </div>
    </div>
    <hr>
    <div class="para7 bold paraimg text">
        <!-- para-7 -->
        <h3>
            <%= para7Title %>
        </h3>
        <img src="<%= para7Img %>" alt="">
        <p>
            <%= para7Content %>
        </p>

    </div>
    <hr>
    <div class="paraFlex">
        <div class="para8 bold paraimg text flexItem">
            <!-- para-8 -->
            <h3>
                <%= para8Title %>
            </h3>
            <img src="<%= para8Img %>" alt="">
            <p>
                <%= para8Content %>
            </p>

        </div>

        <div class="para9 bold paraimg text flexItem">
            <!-- para-9 -->
            <h3>
                <%= para9Title %>
            </h3>
            <img src="<%= para9Img %>" alt="">
            <p>
                <%= para9Content %>
            </p>

        </div>
    </div> 

    <hr>

    <div class="para10 bold paraimg text">
        <!-- para-10 -->
        <h3>
            <%= para10Title %>
        </h3>
      
            <img src="<%= para10Img %>" alt="">
     
        <p>
            <%= para10Content %>
        </p>

    </div>



    <%- include("partials/footer") -%>